<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <header>
      <h1>Darshil Jayesh Shah/N01580076</h1>
    </header>
    
    <div class="content">
      {{{body}}}
    </div>
    
    <footer>
      <p>djshah2000@gmail.com</p>
    </footer>
  </body>
</html>